.header {
  padding-bottom: 100px;
  margin-bottom: 0px;
}
nav {
  margin-bottom: 90px;
}
.input {
  display: flex;
  /* display: none; */
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.input__container {
  width: 450px;
  margin: 0 auto;
  background: rgba(0, 187, 142, 0.81);
  box-shadow: 5px 8px 4px rgba(5, 43, 37, 0.38);
  border-radius: 28px;
  /* height: px; */
  padding: 30px 48px;
  margin-bottom: 300px;
}
.input__title {
  margin-bottom: 40px;
}
.title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
}
.input__forms {
  display: flex;
  flex-direction: column;
}
.input-form__title {
  margin-bottom: 5px;
  margin-left: 25px;
}
.input-form__title h4 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  color: #ffffff;
}
.input__forms input {
  width: 354px;
  height: 65px;
  border-radius: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  font-size: 17px;
  padding-left: 24px;
}
.input__email {
  margin-bottom: 40px;
}
.input__password {
  margin-bottom: 50px;
}
.button-input {
  display: flex;
  justify-content: space-between;
}

.button-input__registration {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  width: 209px;
  height: 51px;
  background: #107d59;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  box-shadow: 3px 3px 5px #052b25;
}
.button-input__entrance {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  width: 127px;
  height: 51px;
  background: #0d7162;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  box-shadow: 3px 3px 5px #052b25;
}

/* -----Register------ */

.register {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.register__container {
  width: 450px;
  margin: 0 auto;
  background: rgba(0, 187, 142, 0.81);
  box-shadow: 5px 8px 4px rgba(5, 43, 37, 0.38);
  border-radius: 28px;
  /* height: px; */
  padding: 30px 48px;
  margin-bottom: 300px;
}
.register__title {
  margin-bottom: 40px;
}
.title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
}
.register__forms {
  display: flex;
  flex-direction: column;
}
.register-form__title {
  margin-bottom: 5px;
  margin-left: 25px;
}
.register-form__title h4 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  color: #ffffff;
}
.register__forms input {
  width: 354px;
  height: 65px;
  border-radius: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
}
.register__email {
  margin-bottom: 40px;
}
.register__password {
  margin-bottom: 50px;
}
.button-register {
  display: flex;
  justify-content: center;
}

.button-register__registration {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  width: 209px;
  height: 51px;
  background: #107d59;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  box-shadow: 3px 3px 5px #052b25;
}
